In [1]:
from MALBuddy import MALBuddy
import pandas as pd
import os
import re

client_info_filepath = "client_info.json"
token_filepath = "token.json"

In [2]:
buddy = MALBuddy(client_info_filepath, token_filepath)

In [3]:
user = 'chocopieeater'
anime_list = buddy.get_anime_list(user)
anime_list.head()

,id,title,main_picture,status,score,num_episodes_watched,is_rewatching,updated_at,finish_date,start_date
0,41457,86,{'medium': 'https://api-cdn.myanimelist.net/im...,dropped,0,0,False,2021-05-02T00:36:51+00:00,NaN,NaN
1,22199,Akame ga Kill!,{'medium': 'https://api-cdn.myanimelist.net/im...,completed,8,24,False,2019-02-26T07:05:44+00:00,NaN,NaN
2,41433,Akudama Drive,{'medium': 'https://api-cdn.myanimelist.net/im...,dropped,0,7,False,2020-12-28T21:14:38+00:00,NaN,NaN
3,22729,Aldnoah.Zero,{'medium': 'https://api-cdn.myanimelist.net/im...,completed,6,12,False,2018-08-07T02:05:12+00:00,NaN,NaN
4,27655,Aldnoah.Zero 2nd Season,{'medium': 'https://api-cdn.myanimelist.net/im...,dropped,0,11,False,2018-08-07T01:31:22+00:00,NaN,NaN

In [4]:
title_dict = anime_list[['title','id']].set_index('title')
title_dict = title_dict['id'].to_dict()
titles = anime_list['title']

In [5]:
title_dict

{'86': 41457,
 'Akame ga Kill!': 22199,
 'Akudama Drive': 41433,
 'Aldnoah.Zero': 22729,
 'Aldnoah.Zero 2nd Season': 27655,
 'Angel Beats!': 6547,
 'Ansatsu Kyoushitsu': 24833,
 'Ansatsu Kyoushitsu 2nd Season': 30654,
 'Ao no Exorcist': 9919,
 'Assassins Pride': 38572,
 'Bakemonogatari': 5081,
 'Black Bullet': 20787,
 'Black Clover': 34572,
 'Blade & Soul': 22547,
 'Blend S': 34618,
 'Boku dake ga Inai Machi': 31043,
 'Boku no Hero Academia': 31964,
 'Boku no Hero Academia 2nd Season': 33486,
 'Boku no Hero Academia 3rd Season': 36456,
 'Boku no Hero Academia 4th Season': 38408,
 'Boku no Hero Academia 5th Season': 41587,
 "Boku no Hero Academia the Movie 3: World Heroes' Mission": 44200,
 'Chainsaw Man': 44511,
 'Chuunibyou demo Koi ga Shitai!': 14741,
 'Cowboy Bebop': 1,
 'Darling in the FranXX': 35849,
 'Death March kara Hajimaru Isekai Kyousoukyoku': 34497,
 'Death Note': 1535,
 'Dororo': 37520,
 'Dr. Stone': 38691,
 'Dr. Stone: Stone Wars': 40852,
 'Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka': 28121,
 'Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka Gaiden: Sword Oratoria': 32887,
 'Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka II': 37347,
 'Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka III': 40454,
 'Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka IV': 47164,
 'Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka Movie: Orion no Ya': 37348,
 'Enen no Shouboutai': 38671,
 'Enen no Shouboutai: Ni no Shou': 40956,
 'Fairy Tail': 6702,
 'Fate/Apocrypha': 34662,
 'Fate/stay night: Unlimited Blade Works': 22297,
 'Fate/stay night: Unlimited Blade Works 2nd Season': 28701,
 'Flying Witch': 31376,
 'Fullmetal Alchemist: Brotherhood': 5114,
 'Fumetsu no Anata e': 41025,
 'Gabriel DropOut': 33731,
 'Goblin Slayer': 37349,
 'Goblin Slayer 2nd Season': 47160,
 'Grand Blue': 37105,
 'Hataraku Maou-sama!': 15809,
 'Hataraku Saibou (TV)': 37141,
 'Hinamatsuri (TV)': 36296,
 'Horimiya': 42897,
 'Houseki no Kuni (TV)': 35557,
 'Howl no Ugoku Shiro': 431,
 'Hunter x Hunter (2011)': 11061,
 'Hyakuren no Haou to Seiyaku no Valkyria': 37446,
 'Ijiranaide, Nagatoro-san': 42361,
 'Isekai Maou to Shoukan Shoujo no Dorei Majutsu': 37210,
 'Isekai Maou to Shoukan Shoujo no Dorei Majutsu Ω': 41623,
 'Itai no wa Iya nano de Bougyoryoku ni Kyokufuri Shitai to Omoimasu.': 38790,
 'Jahy-sama wa Kujikenai!': 48753,
 'JoJo no Kimyou na Bouken (TV)': 14719,
 'Jujutsu Kaisen (TV)': 40748,
 'Kaguya-sama wa Kokurasetai: Tensai-tachi no Renai Zunousen': 37999,
 'Kaguya-sama wa Kokurasetai: Tensai-tachi no Renai Zunousen 3rd Season': 43608,
 'Kaguya-sama wa Kokurasetai?: Tensai-tachi no Renai Zunousen': 40591,
 'Kaifuku Jutsushi no Yarinaoshi': 40750,
 'Kakegurui': 34933,
 'Kakegurui××': 37086,
 'Kami no Tou': 40221,
 'Kamisama ni Natta Hi': 41930,
 'Katsute Kami Datta Kemono-tachi e': 39199,
 'Kenja no Mago': 36407,
 'Kill la Kill': 18679,
 'Kimetsu no Yaiba': 38000,
 'Kimetsu no Yaiba Movie: Mugen Ressha-hen': 40456,
 'Kimetsu no Yaiba: Yuukaku-hen': 47778,
 'Kimi no Na wa.': 32281,
 'Kiseijuu: Sei no Kakuritsu': 22535,
 'Kizumonogatari I: Tekketsu-hen': 9260,
 "Knight's & Magic": 34104,
 'Kobayashi-san Chi no Maid Dragon': 33206,
 'Kobayashi-san Chi no Maid Dragon S': 39247,
 'Kobayashi-san Chi no Maid Dragon: Valentine, Soshite Onsen! - Amari Kitai Shinaide Kudasai': 35363,
 'Koe no Katachi': 28851,
 'Komi-san wa, Comyushou desu.': 48926,
 'Kono Subarashii Sekai ni Shukufuku wo!': 30831,
 'Kono Subarashii Sekai ni Shukufuku wo! 2': 32937,
 'Kono Subarashii Sekai ni Shukufuku wo! Movie: Kurenai Densetsu': 38040,
 'Kumo Desu ga, Nani ka?': 37984,
 'Kyuukyoku Shinka shita Full Dive RPG ga Genjitsu yori mo Kusoge Dattara': 44276,
 'Little Witch Academia (TV)': 33489,
 'Log Horizon': 17265,
 'Log Horizon 2nd Season': 23321,
 'Log Horizon: Entaku Houkai': 41109,
 'Love Live! School Idol Project': 15051,
 'Machikado Mazoku': 39071,
 'Machikado Mazoku 2nd Season': 42745,
 'Made in Abyss': 34599,
 'Made in Abyss Movie 1: Tabidachi no Yoake': 37514,
 'Made in Abyss Movie 3: Fukaki Tamashii no Reimei': 36862,
 'Made in Abyss: Retsujitsu no Ougonkyou': 41084,
 'Magi: Sinbad no Bouken (TV)': 31741,
 'Magi: The Kingdom of Magic': 18115,
 'Magi: The Labyrinth of Magic': 14513,
 'Mahouka Koukou no Rettousei': 20785,
 'Mahouka Koukou no Rettousei: Raihousha-hen': 40497,
 'Mahoutsukai no Yome': 35062,
 'Majo no Tabitabi': 40571,
 'Majo no Takkyuubin': 512,
 'Maou Gakuin no Futekigousha: Shijou Saikyou no Maou no Shiso, Tensei shite Shison-tachi no Gakkou e Kayou': 40496,
 'Maou Gakuin no Futekigousha: Shijou Saikyou no Maou no Shiso, Tensei shite Shison-tachi no Gakkou e Kayou 2nd Season': 48417,
 'Maou Gakuin no Futekigousha: Shijou Saikyou no Maou no Shiso, Tensei shite Shison-tachi no Gakkou e Kayou 2nd Season Part 2': 48418,
 'Megalo Box': 36563,
 'Mirai Nikki (TV)': 10620,
 'Mob Psycho 100': 32182,
 'Mob Psycho 100 II': 37510,
 'Mononoke Hime': 164,
 'Monster Musume no Iru Nichijou': 30307,
 'Mushoku Tensei: Isekai Ittara Honki Dasu': 39535,
 'Mushoku Tensei: Isekai Ittara Honki Dasu 2nd Season': 45576,
 'Nanatsu no Taizai': 23755,
 'Nanatsu no Taizai Movie 1: Tenkuu no Torawarebito': 35946,
 'Nanatsu no Taizai: Imashime no Fukkatsu': 34577,
 'Nanatsu no Taizai: Kamigami no Gekirin': 39701,
 'Nanatsu no Taizai: Seisen no Shirushi': 31722,
 'Neon Genesis Evangelion': 30,
 'Nichijou': 10165,
 'No Game No Life': 19815,
 'No Game No Life: Zero': 33674,
 'Nomad: Megalo Box 2': 40729,
 'Non Non Biyori': 17549,
 'Noragami': 20507,
 'Noragami Aragoto': 30503,
 'Odd Taxi': 46102,
 'One Punch Man': 30276,
 'One Punch Man 2nd Season': 34134,
 'Ore no Nounai Sentakushi ga, Gakuen Love Comedy wo Zenryoku de Jama Shiteiru': 19221,
 'Ore wo Suki nano wa Omae dake ka yo': 38483,
 'Otome Game no Hametsu Flag shika Nai Akuyaku Reijou ni Tensei shiteshimatta...': 38555,
 'Otome Game no Hametsu Flag shika Nai Akuyaku Reijou ni Tensei shiteshimatta... X': 42282,
 'Overlord': 29803,
 'Overlord II': 35073,
 'Overlord III': 37675,
 'Overlord IV': 48895,
 'Princess Connect! Re:Dive': 39292,
 'Psycho-Pass': 13601,
 'Re:Zero kara Hajimeru Isekai Seikatsu': 31240,
 'Re:Zero kara Hajimeru Isekai Seikatsu - Memory Snow': 36286,
 'Re:Zero kara Hajimeru Isekai Seikatsu 2nd Season': 39587,
 'Re:Zero kara Hajimeru Isekai Seikatsu 2nd Season Part 2': 42203,
 'Rokka no Yuusha': 28497,
 'Seirei Gensouki': 44203,
 'Seishun Buta Yarou wa Bunny Girl Senpai no Yume wo Minai': 37450,
 'Seishun Buta Yarou wa Yumemiru Shoujo no Yume wo Minai': 38329,
 'Sen to Chihiro no Kamikakushi': 199,
 'Sentouin, Hakenshimasu!': 41456,
 'Shadows House': 43439,
 'Shaman King (2021)': 42205,
 'Shinchou Yuusha: Kono Yuusha ga Ore Tueee Kuse ni Shinchou Sugiru': 38659,
 'Shingeki no Kyojin': 16498,
 'Shingeki no Kyojin Season 2': 25777,
 'Shingeki no Kyojin Season 3': 35760,
 'Shingeki no Kyojin Season 3 Part 2': 38524,
 'Shingeki no Kyojin: Chronicle': 42091,
 'Shingeki no Kyojin: The Final Season': 40028,
 'Shingeki no Kyojin: The Final Season Part 2': 48583,
 'Shokugeki no Souma': 28171,
 'Shokugeki no Souma: Gou no Sara': 40902,
 'Shokugeki no Souma: Ni no Sara': 32282,
 'Shokugeki no Souma: San no Sara': 35788,
 'Shokugeki no Souma: San no Sara - Tootsuki Ressha-hen': 36949,
 'Shokugeki no Souma: Shin no Sara': 39940,
 'Slime Taoshite 300-nen, Shiranai Uchi ni Level Max ni Nattemashita': 40586,
 'Somali to Mori no Kamisama': 39575,
 'Sounan Desu ka?': 39456,
 'Steins;Gate': 9253,
 'Steins;Gate 0': 30484,
 'Sword Art Online': 11757,
 'Sword Art Online Alternative: Gun Gale Online': 36475,
 'Sword Art Online II': 21881,
 'Sword Art Online Movie: Ordinal Scale': 31765,
 'Sword Art Online: Alicization': 36474,
 'Sword Art Online: Alicization - War of Underworld': 39597,
 'Sword Art Online: Alicization - War of Underworld 2nd Season': 40540,
 'Sword Art Online: Extra Edition': 20021,
 'Tate no Yuusha no Nariagari': 35790,
 'Tate no Yuusha no Nariagari Season 2': 40356,
 'Tate no Yuusha no Nariagari Season 3': 40357,
 'Tensei shitara Slime Datta Ken': 37430,
 'Tensei shitara Slime Datta Ken 2nd Season': 39551,
 'Tensei shitara Slime Datta Ken 2nd Season Part 2': 41487,
 'Tensura Nikki: Tensei shitara Slime Datta Ken': 41488,
 'Toaru Majutsu no Index': 4654,
 'Tokyo Ghoul': 22319,
 'Tokyo Ghoul √A': 27899,
 'Tokyo Ghoul:re': 36511,
 'Tokyo Ghoul:re 2nd Season': 37799,
 'Tsuujou Kougeki ga Zentai Kougeki de Ni-kai Kougeki no Okaasan wa Suki Desu ka?': 38573,
 'Uzaki-chan wa Asobitai!': 41226,
 'Vanitas no Karte': 48580,
 'Vinland Saga': 37521,
 'Violet Evergarden': 33352,
 'World Trigger': 24405,
 'World Trigger 2nd Season': 40907,
 'World Trigger 3rd Season': 44940,
 'Yahari Ore no Seishun Love Comedy wa Machigatteiru.': 14813,
 'Yahari Ore no Seishun Love Comedy wa Machigatteiru. Zoku': 23847,
 'Yakusoku no Neverland': 37779,
 'Yakusoku no Neverland 2nd Season': 39617,
 'Youjo Senki': 32615,
 'Youjo Senki II': 49233,
 'Youjo Senki Movie': 37055,
 'Youkoso Jitsuryoku Shijou Shugi no Kyoushitsu e (TV)': 35507}

In [6]:
def format_title(title: str) -> str:
    title = re.sub(' ', '_', title.lower())
    title = re.sub('\W', '', title)
    return title

In [7]:
anime = 'Shingeki no Kyojin'
anime

'Shingeki no Kyojin'

In [8]:
z = buddy.generate_and_write_ratings(format_title(anime), title_dict[anime], num_pages=5)

Successfully loaded pages: : 1,2,3,4,5,
Ratings saved to anime_ratings\shingeki_no_kyojin.json

In [9]:
a = buddy.load_ratings(format_title(anime))

anime_ratings\shingeki_no_kyojin.json

In [10]:
a

    index              user  rating
0       0  laurachiaragrit2       8
1       1       Salvation01       8
2       2           Cadiz95      10
3       3         Remilia12       7
4       4           dimgoku      10
..    ...               ...     ...
434   208           FionaCG       8
435   209        taytay1625       8
436   210         Joacoalma       9
437   211           Sul1260       5
438   212         GG_Gawain       9

[439 rows x 3 columns]

In [12]:
(a['user'] == 'mohamed_arafa38').sum()

1

In [12]:
a

                user  rating
0    mohamed_arafa38       7
1          ZARAGAMBA      10
2          Aotfanboi      10
3           5atru1ne       9
4         gabilparra      10
..               ...     ...
222         hunchsos      10
223       buttfungys       8
224             TMOJ       8
225       GianSenpai      10
226          HRWells      10

[227 rows x 2 columns]

In [14]:
b = buddy.load_ratings(format_title(anime))

anime_ratings\shingeki_no_kyojin.json

In [17]:
b

                user  rating
0    mohamed_arafa38       7
1          ZARAGAMBA      10
2          Aotfanboi      10
3           5atru1ne       9
4         gabilparra      10
..               ...     ...
222         hunchsos      10
223       buttfungys       8
224             TMOJ       8
225       GianSenpai      10
226          HRWells      10

[227 rows x 2 columns]

In [88]:
b['user']

              user  rating
0      biyumekodir       8
1        robonaldo       6
2         CEOofSex       6
3           Hero1A      10
4         qilanime      10
..             ...     ...
180      NatsumeSv       9
181   BongaBonga21       6
182        Tetonet       8
183  XELA_blakrose       9
184  bettyneckaowo      10

[185 rows x 2 columns]

In [95]:
b.set_index('user')['SwagyJuztin']

               rating
user
biyumekodir         8
robonaldo           6
CEOofSex            6
Hero1A             10
qilanime           10
...               ...
NatsumeSv           9
BongaBonga21        6
Tetonet             8
XELA_blakrose       9
bettyneckaowo      10

[185 rows x 1 columns]

In [12]:
#TODO allow writing over and updating json files when generating new ratings from MAL

In [13]:
save_folder = 'anime_ratings'
fp = os.path.join(save_folder, f'{title}.json')
fp

'anime_ratings\\akame_ga_kill.json'

In [14]:
os.path.exists(fp)

True

In [28]:
import json

In [38]:
with open(fp, 'r') as file:
    ratings2 = json.load(file)

In [60]:
r1 = pd.DataFrame(ratings)

In [61]:
r2= pd.DataFrame(ratings2)

In [64]:
r1

               user  rating
0             xAsiy      10
1            NikyNN       8
2            Jig0ki       8
3    certifiedfreak       7
4         xiaoguang       7
..              ...     ...
134            z_xd       8
135      Chriszcamp       9
136       GraceSage       8
137           Ayyor       7
138           Doxed       7

[139 rows x 2 columns]

In [69]:
pd.concat([r1,r2])

               user  rating
0             xAsiy      10
1            NikyNN       8
2            Jig0ki       8
3    certifiedfreak       7
4         xiaoguang       7
..              ...     ...
155       NatsumeSv       9
156    BongaBonga21       6
157         Tetonet       8
158   XELA_blakrose       9
159   bettyneckaowo      10

[299 rows x 2 columns]